@font-face {
	font-family: Roboto;
	src: url(Roboto.ttf); 
}

*{margin: 0; padding: 0; font-family: Roboto;}

.content{width: 840px; margin: 0 auto;}
div img{ width: 100%; height: 100%;}
.header{ position: relative; height: 403px;	display: inline-flex; width: 100%;}
div.photo {	position: relative;	width: 64%;	height: 100%;}
.photo::before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.4); z-index: 1;}
div.titleHead, span.littleTitleHead, div.adv{ position: absolute; z-index: 2; text-transform: uppercase; padding: 4px; color: #fff; font-size: 12pt; letter-spacing: -.03em;}
span.titleHead{	background-color: rgba(0, 0, 0, 0.4);}
div.titleHead{top: 45px; font-size: 16pt; margin-left: 100px; line-height: 28pt;}

div.advantages{
	position: absolute;
	top: 220px;
	right: 42%;
	z-index: 2;
	width: 300px;
}

img.check{
	width: 13px;
	height: 13px;
	margin: 0 5px -1px 0;
}

div.adv{
	background-color: rgba(0,0,0,.3);
	font-size: 10pt;
}


div.sale {
	position: relative;
	width: 36%;	
	background-color: #a731c6;
	height: 100%;
}

div.action{
	background-color: #ecd7f4;
	border-radius: 3px;
	position: absolute;
	top: 210px;
	max-width: 80%;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 190px;
	left: 50%;
	transform: translateX(-50%);
}
div.marg{height: 50px;}
div.lampVideo, div.lampCase, div.wrapBorderVideo, div.video, div.shortDescription, div.shortDescriptionItem .photoI, div.shortDescriptionItem .description, div.makeDiscont, 
.historyItem, div.trLine div.borderTr, div.trLine div.borderLine{ margin: 0 auto; }
h6, h5{padding-top: 10px;}
div.orderDiv{ margin-top: 10px; font-size: 10pt; display: flex; justify-content: space-around;}
input[type=phone]{border-radius: 3px; border-color:#9f36c7; margin-top: 10px;}
span.price{ color: #ff0000; font-weight: 600; font-size: 12pt;}
del{font-size: .8em; font-weight: 400; color: #000;}
input.order{ border-radius: 6px; text-transform: uppercase; color: #fff; background-color: #9f36c7; padding: 5px; font-size: 12pt; cursor: pointer; outline: none;}
section{margin-top: -4px; width: 100%;}
div.lampVideo, div.lampCase{width: 585px; position: relative;}
div.borderTr{ border: 60px solid #fff; height: 300px; border-image-source: url(img/triangle.png); z-index: 2;}
div.borderLine{ border: solid #a731c6 1px; width: 524px; position: absolute; left: 30px; z-index: 1; border-bottom: none; border-top: none;}
div.lampVideo div.borderLine{top: 0; height: 416px; }
div.textHead{ text-transform: uppercase; font-size: 11pt; text-align: center; font-weight: 600; margin-top: 48px; transform:scale(1.05,1.6); }
div.wrapBorderVideo{ position: relative; width: 399px; height: 235px; margin-top: -10px;}
div.borderVideoTL, div.borderVideoTR, div.borderVideoBL, div.borderVideoBR{ position: absolute; width: 40px; height: 40px; border: solid #9f36c7 1px;}
div.borderVideoTL{ top: 0; left: 0; border-right: none; border-bottom: none; }
div.borderVideoTR{ top: 0; right: 0;}
div.borderVideoBL{ bottom: 0; left: 0;}
div.borderVideoBR{ bottom: 0; right: 0; border-left: none; border-top: none; }
div.video{ position: relative; top: 15px; width: 365px; height: 205px; margin-top: 30px; background-color: #ccc;}
video { width: 100%; height: 100%;}

/*3section*/
div.shortDescription{ width: 500px; border: solid #9f36c7 1px; width: 94%; display: flex; flex-wrap: wrap; padding-top: 1px;}
div.shortDescriptionItem{ width: 33.33%; height: 343px; background-color: #fff; position: relative; }
div.shortDescriptionItem:nth-child(odd) {background: #fbd7fd;}
div.shortDescriptionItem .photoI{ height: 155px; width: 200px; margin-top: 30px;}
div.lampCase div.photoI:hover{ box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); transition: all 0.2s ease-out; z-index: 3;}
.photoI img{ object-fit: cover; }
div.shortDescriptionItem .title{ font-weight: 600; text-transform: uppercase; transform:scale(0.7,1.1); font-size: 11pt; margin-top: 10px; margin-left: -10px; }
div#item-1 .title{ font-size: 17pt; top: 38%; left: 25px; position: relative; }
div.shortDescriptionItem .description{ font-size: 11px; margin-top: 10px; width: 200px; }
div#item-1:after, div#item-2:after, div#item-3:after, div#item-4:after, div#item-5:after, div#item-6:after {position: absolute; content: ''; width: 0; height: 0; border: solid rgba(255, 255, 255, 0) 20px; z-index:2;}
div#item-1:after{ border-left-color: #fbd7fd; right: 0; top: 25%; margin-right: -40px;}
div#item-2:after{ border-left-color: #fff; right: 0; top: 25%; margin-right: -40px;}
div#item-3:after{ border-top-color: #fbd7fd; left: 50%; bottom: 0; margin-bottom: -40px; transform: translateX(-50%);}
div#item-6:after{ border-right-color: #fff; left: 0; top: 25%; margin-left: -40px;}
div#item-5:after{ border-right-color: #fbd7fd; left: 0; top: 25%; margin-left: -40px;}

/*4section*/
div.lampCase div.borderTr{ margin-top: 28px; height: 330px; }
div.lampCase div.borderLine {top: -25px; height: 471px; }
div.wrapLampCase { width: 788px;  margin: 75px 0 0 -135px; background-color: #fff; display: flex; flex-wrap: wrap;  height: 315px;}
div.wrapLampCase div.photoI{ width: 20%; height: 50%; }

/*5section*/
div.reviews{ position: relative; width: 100%; background-color: #fbd7fd; text-align: center; }
div.stock{ font-size: 15pt; transform:scale(0.7,1.15); font-weight: 600; padding-top: 20px; text-transform: uppercase;}
div.leftBrace, div.rightBrace{ position: absolute; border: solid #a731c6 1px; top: 55px; width: 25px; height: 120px;}
div.leftBrace{border-right: none; left: 105px;}
div.rightBrace{border-left: none; right: 105px;}
div.makeDiscont, div.historyItem{width: 70%; display: flex;}
div.itemDiscount{width: 50%; display: flex;}

div.itemDiscount .img{width: 70px; height: 70px; border: solid #333 1px; border-radius: 50%; margin: 20px 0 10px 25px; background-color: #fff;}
div.itemDiscount .txt{width: 60%; font-size: 8pt; padding-top: 20px; padding-left: 15px; text-align: left;}
div.itemDiscount img{ width: 60%; height: 50%; padding-top: 20%;}

div.historyItem{ margin-top: 40px; }
div.historyImg{ width: 30%;}
div.historyImg img{ width: 150px; height: 150px; border-radius: 100%;}
div.historyTxt{ width: 70%; text-align: left; font-size: 8pt; padding-left: 20px; padding-right: 20px;}
div.historyTxt strong, div.historyTxt em{ color: #a731c6; font-size: 10pt;}

div.wrapButHeader { width: 840px;  margin: 75px 0 0 -158px; background-color: #fff;}
div.trLine{position: relative;}
div.trLine div.borderTr{ margin-top: 40px; height: 425px; width: 465px;}
div.trLine div.borderLine{height: 582px; top: -37px; left: 157px;}
div.wrapButHeader{ height: 300px; margin-top: 95px;}

footer{background-color: rgba(0,0,0,.4); color: #fff; padding: 10px 40px 10px 0;  display: flex; justify-content: space-around;}

.hidden {opacity: 0;}